* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}
 p{
  padding: 8px;

 }
.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  width: 300px;
  height: 80px;
  margin:4px;
  border-radius: 4px;
  background-color:#f2f2f2 ;
  box-shadow: 0 0 8px 2px #00000031;
}

